
   <nav class="nav nav--container">
    <ng-container *ngIf="isMobile; else desktopNav">
      <ng-container *ngIf="isMenuOpen; else hamburgerButton">
        <app-close-hamburguer-button (click)="toggleMenu()" class="close__hamburguer"></app-close-hamburguer-button>
      </ng-container>
      <ng-template #hamburgerButton>
        <app-hamburguer-button (click)="toggleMenu()" class="hamburguer"></app-hamburguer-button>
      </ng-template>
      <div class="mobile-menu" *ngIf="isMenuOpen">
        <app-nav-link link="Menu"></app-nav-link>
        <app-nav-link link="Menu"></app-nav-link>
        <app-nav-link link="Menu"></app-nav-link>
      </div>
    </ng-container>
    <ng-template #desktopNav>
      <app-nav-link link="Menu"></app-nav-link>
      <app-nav-link link="Menu"></app-nav-link>
      <app-nav-link link="Menu"></app-nav-link>
    </ng-template>
  </nav>
  
  