<section class="container">
    <section class="cart--container">
        <figure class="figure--container">
            <app-image-optimized></app-image-optimized>
            <figcaption class="figcaption--container">
                <h3></h3>
                <p></p>
                <section class="btn--container__amount">
                    <app-button 
                        [buttonName]="buttonSubstractAmountName"
                        [buttonType]="buttonSubstractAmountType"
                        (onClick)="onSubstractAmount()"
                        class="btn__substract"
                    ></app-button>
                    <p class="amount__count">$ </p>
                    <app-button 
                        [buttonName]="buttonAddAmountName"
                        [buttonType]="buttonAddAmountType"
                        (onClick)="onAddAmount()"
                        class="btn__add"
                    ></app-button>
                </section>

            </figcaption>
            <section class="btn--container__delete">
                <p>Delete!</p>
            </section>
        </figure>
    </section>
    <section class="total--contianer"></section>
    <section class="btn--container__pay">
        <app-button [buttonName]="buttonName" [buttonType]="buttonType"></app-button>
    </section>
</section>
