.header {
  display: flex;
  background-color: #9d3fe7;
  align-items: center; 

  &__logo--container {
    width: 30%;
    padding: 2% 1.5%; 
    display: flex; 
    align-items: center; 
  }

  &__nav--container {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    width: 70%;
    padding: 2% 1.5%; 
  }
}