
<ng-container *ngIf="inputType === 'textarea'; else textInput">
    <textarea
      [formControl]="inputControl"
      [maxlength]="maxLength"
      [value]="value"
      (input)="onInput($event)"
      class="input textarea"
      [style.resize]="'vertical'">
    </textarea>
  </ng-container>
  
  <ng-template #textInput>
    <input
      [formControl]="inputControl"
      [type]="inputType"
      [maxlength]="maxLength"
      [value]="value"
      (input)="onInput($event)"
      class="input">
    
  </ng-template>
  