<div class="container">
  
    <div class="container--title">
      <h1 class="title">Brand Dashboard</h1>
    </div>
  
    <div class="container--button">
      <app-button [buttonType]="buttonOpenModalType" [buttonName]="buttonOpenModalName" (click)="openModal()" class="btn-open-modal"></app-button>
    </div>
      
  
      <app-modal 
      *ngIf="modalVisible"
      [title]="modalTitle"
      [closeButtonName]="modalCloseButtonName"
      [submitButtonName]="modalSubmitButtonName"
      [formFields]="modalFormFields"
      (closeModalEvent)="closeModal()"
      (submitEvent)="onModalSubmit($event)">
    </app-modal>
  
    <section class="paginator--container">
      <app-input class="input"></app-input>
      <app-paginator class="paginator"
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)"
        (sortDirectionChange)="onSortDirectionChange($event)"
      ></app-paginator> 
      <app-table
        class="table"
        [headers]="tableHeaders"
        [data]="tableData">
      </app-table>
    </section>
  
</div>
    
