.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    
}
.form__group{
    margin-bottom: 2.5%;
}
.submit__btn{
    background-color: #9d3fe7;
    padding: .2% .2%;
    border-radius: 25px;
    
}