.container--button {
    
    color: White;
    display: flex;
    justify-content: end;
    width: 100%;
}

.container--title{
    display: flex;
    justify-content: center;
}

.btn-open-modal{
    background-color: #9d3fe7;
    color: black
}

