<!-- <section class="container">
    <div>
        <h1>Emazon</h1>
    </div>

    <section>
        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
            <div class="form__group" *ngFor="let field of fields">
                <app-form-field
                    [nameLabel]="field.nameLabel"
                    [inputControl]="getFormControl(field.formControlName)"
                    [inputType]="field.inputType"
                    [maxLength]="field.maxLength"
                ></app-form-field>
            </div>
            <app-button [buttonName]="submitButtonName" [buttonType]="submitButtonType" class="submit__btn"></app-button>
        </form>
    </section>
</section> -->
<section class="container">
    <div class="container__logo">
        <app-logo></app-logo>
    </div>

    <section>
        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
            <app-form-submit
                [formGroup]="loginFormGroup"
                [fields]="fields"
                [submitButtonName]="submitButtonName"
                [submitButtonType]="submitButtonType"
            ></app-form-submit>
        </form>
    </section>
</section>
